section
  section.align-left
    h3 Lucas Souto
    div
      p Desenvolvedor poliglota

    div.fragment
      hr
      p Gosto de comunidades
      div
        a(href="https://t.me/pugma").
          PUG-MA
      div
        a(href="https://t.me/lambdama").
          LambdaMA
    div.fragment
      hr
      p Escrevo nas horas vagas
      a(href="https://lucassouto.github.io") Blog

    div.align-center
      a(href="https://github.com/lucassouto")
        img(src="img/github_icon-icons.com_65450.svg", width="50" height="50")
      a(href="https://twitter.com/lucassouto_1000")
        img(src="img/twitter_icon-icons.com_65436.svg", width="50" height="50")
      a(href="mailto:lucasingologos@gmail.com")
        img(src="img/gmail_icon-icons.com_65438.svg", width="50" height="50")
      a(href="https://www.linkedin.com/in/lucas-souto-184186129/")
        img(src="img/linkedin_icon-icons.com_65439.svg", width="50" height="50")
