section
  section
    h3 HTTP
  section
    div
      h5 Preste atenção na sua implementação REST e uso do HTTP
    div.fragment
      p Verbos
    div.fragment
      p Status
    div.fragment
      p Mensagens "fakes"
    div.fragment
      p Pense em versionar
    div.fragment
      p etc etc etc...
