doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/title
        include ../slides/about
        include ../slides/codemed
        include ../slides/django
        include ../slides/drf
        include ../slides/request_response
        include ../slides/structure_django
        include ../slides/routes
        include ../slides/serialization
        include ../slides/views
        include ../slides/http
        include ../slides/code
    include inc/scripts
