head
  meta(charset="UTF-8")
  title Django Rest Framework
  meta(name="description" content="Apresentação sobre Django Rest Framework no CEL Live #19")
  meta(name="author" content="Lucas Souto")
  meta(property="og:type" content="website")
  meta(property="og:image" content="img/django_pony.png")
  meta(property="og:description" content="Apresentação sobre Django Rest Framework no CEL Live #19")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", type="text/css", href="css/main.css")
  link(rel="stylesheet", type="text/css", href="css/theme.css")
